.App {
  text-align: center;
}

a {text-decoration: none; color: #171819;}

.link {position: relative;}
.link:hover {color: gray;}
.link::after {content:""; position: absolute; bottom: -2px; left: 0; background-color: #171819; display: block; width: 100%; height: 1px;}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.list-item {
  ul {
    list-style: none;
  }  
}

/* login form */
.login_input_form {display: flex; justify-content: center; align-items: center; flex-direction: column; max-width: 1100px; margin: 0 auto; height: 100vh;}
.login_input_form_box { display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end; max-width: 1100px; margin: 0 auto;}
.loginBtn {width: 250px; border-radius: 10px;}

.resultBox {display: none; max-width: 800px; margin: 0 auto; overflow: hidden;}
.resultBox.on {display: block;}

.loginAfterBox {display: none; overflow: hidden; max-width: 800px; margin: 0 auto}
.loginAfterBox.on {display: block;}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
